.banner-bg {
    background-image: url('../../../assets/images/banner-image/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.banner-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cover the entire parent element */
    background-color: rgba(1, 1, 1, 0.9); /* Add your desired background opacity */

}

.gradiant-text {
    background: #158BCF;
background: -webkit-linear-gradient(to bottom right, #395e74 32%, #2f8d6e 28%, #3e3195 56%);
background: -moz-linear-gradient(to bottom right, #158BCF 32%, #19FFB2 28%, #7061CF 56%);
background: linear-gradient(to bottom right, #158BCF 32%, #19FFB2 28%, #7061CF 56%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
